.u-section-1 {
  min-height: 701px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 701px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 100px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 20px;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 254px auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 701px;
  background-image: url("images/pexels-jess-bailey-designs-876466.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 130px 0 105px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 601px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 225px;
  }

  .u-section-1 .u-image-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 343px;
    margin-right: 80px;
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 522px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 169px;
  }

  .u-section-1 .u-image-1 {
    min-height: 443px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 231px;
    margin-right: 25px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 966px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-right: 194px;
  }

  .u-section-1 .u-image-1 {
    min-height: 665px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 492px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 820px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 419px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 335px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 819px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/129969195_737694913520038_5451124155788308542_n.jpg");
  background-position: 50% 50%;
  margin: 48px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 260px;
  grid-template-columns: calc(33.3333% - 17px) calc(33.3333% - 17px) calc(33.3333% - 17px);
  width: 1060px;
  grid-gap: 26px 26px;
  margin: -109px auto 50px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 220px;
  min-height: 179px;
  margin: -73px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 14px 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 6px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 220px;
  min-height: 177px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 14px 20px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 6px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-4 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-5 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 220px;
  min-height: 177px;
  background-size: auto;
  margin: -73px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 14px 20px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 6px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-6 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 70px;
  }

  .u-section-2 .u-list-1 {
    min-height: 291px;
    grid-template-columns: repeat(2, calc(50% - 13px));
    height: auto;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-group-2 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: repeat(2, calc((100% - 720px) / 2 + 347px));
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-2 .u-group-2 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-2 .u-group-3 {
    width: 215px;
    min-height: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: repeat(2, calc((100% - 540px) / 2 + 257px));
    margin-top: -79px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    height: 63px;
    width: 63px;
  }

  .u-section-2 .u-group-1 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    height: 63px;
    width: 63px;
  }

  .u-section-2 .u-group-2 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-5 {
    height: 63px;
    width: 63px;
  }

  .u-section-2 .u-group-3 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1245px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-list-1 {
    min-height: 849px;
    grid-template-columns: 100%;
    margin-top: -83px;
    margin-bottom: -133px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-icon-1 {
    height: 71px;
    width: 71px;
  }

  .u-section-2 .u-group-1 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-icon-3 {
    height: 71px;
    width: 71px;
  }

  .u-section-2 .u-group-2 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-icon-5 {
    height: 71px;
    width: 71px;
  }

  .u-section-2 .u-group-3 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1371px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 183px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 3.75rem;
  margin: 20px 17px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 183px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 255px;
  height: 193px;
  animation-duration: 1000ms;
  margin: 0 52px 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 561px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 36px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 255px;
  height: 106px;
  animation-duration: 1000ms;
  margin: -102px 0 0 auto;
}

.u-section-3 .u-text-3 {
  animation-duration: 1000ms;
  margin: 16px 0 0;
}

.u-section-3 .u-text-4 {
  animation-duration: 1000ms;
  margin: 36px auto 0 13px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 497px;
  height: 377px;
  animation-duration: 1000ms;
  margin: 30px auto -184px 13px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 561px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  letter-spacing: 6px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-3 .u-image-4 {
  width: 255px;
  height: 141px;
  animation-duration: 1000ms;
  margin: 20px 52px 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 36px 120px 0 94px;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: -66px;
  margin-bottom: 1px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 484px;
  height: 251px;
  animation-duration: 1000ms;
  margin: -30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 151px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 14px;
    margin-left: 14px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 151px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 463px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 125px;
    margin-left: -10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -231px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 410px;
    height: 311px;
    margin-left: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 463px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 44px;
    margin-right: 70px;
  }

  .u-section-3 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 330px;
  }

  .u-section-3 .u-image-5 {
    width: 410px;
    height: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 116px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 45px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 175px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -281px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 7px;
  }

  .u-section-3 .u-image-3 {
    width: 300px;
    height: 228px;
    margin-left: 7px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 45px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 4px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 253px;
  }

  .u-section-3 .u-image-5 {
    width: 300px;
    height: 155px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 17px;
    margin-left: 17px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 174px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -206px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 12px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 12px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 150px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -256px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 7px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 7px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 239px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 239px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1035px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 58px 84px 0 702px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 380px;
  animation-duration: 1000ms;
  margin: -351px auto 0 84px;
}

.u-section-4 .u-text-3 {
  animation-duration: 1000ms;
  margin: 55px 102px 0 123px;
}

.u-section-4 .u-shape-1 {
  width: 188px;
  height: 160px;
  margin: -251px 241px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 108px;
  height: 74px;
  margin: -74px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 93px;
    margin-left: 586px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 2px;
    margin-left: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 71px;
    margin-left: 366px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 53px;
    margin-left: 186px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 360px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 33px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: 152px;
  }
}.u-section-5 {
  min-height: 1271px;
}

.u-section-5 .u-sheet-1 {
  min-height: 1207px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: 29px auto 0 33px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: -54px 570px 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 18px 872px 0 42px;
}

.u-section-5 .u-image-1 {
  width: 541px;
  height: 65px;
  animation-duration: 1000ms;
  margin: -100px 171px 0 auto;
}

.u-section-5 .u-icon-2 {
  height: 113px;
  width: 113px;
  background-image: none;
  margin: -65px auto 0 301px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: -30px auto 0 780px;
}

.u-section-5 .u-image-2 {
  width: 233px;
  height: 233px;
  animation-duration: 1000ms;
  margin: -295px -68px 0 auto;
}

.u-section-5 .u-text-3 {
  animation-duration: 1000ms;
  margin: 87px 171px 0 654px;
}

.u-section-5 .u-icon-4 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: 20px auto 0 780px;
}

.u-section-5 .u-text-4 {
  animation-duration: 1000ms;
  margin: 30px 155px 0 670px;
}

.u-section-5 .u-image-3 {
  width: 515px;
  height: 247px;
  animation-duration: 1000ms;
  margin: -106px auto 0 55px;
}

.u-section-5 .u-icon-5 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: -155px auto 0 590px;
}

.u-section-5 .u-text-5 {
  animation-duration: 1000ms;
  margin: 155px 770px 0 55px;
}

.u-section-5 .u-image-4 {
  width: 570px;
  height: 136px;
  animation-duration: 1000ms;
  margin: -108px -20px 0 590px;
}

.u-section-5 .u-shape-1 {
  width: 187px;
  height: 126px;
  animation-duration: 1000ms;
  margin: -121px auto 0 364px;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 28px 121px 60px 604px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-icon-1 {
    margin-left: 133px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 491px;
    margin-left: 196px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 814px;
    margin-left: 100px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 271px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 401px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 235px;
  }

  .u-section-5 .u-image-2 {
    width: 310px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-3 {
    width: 315px;
    margin-right: 373px;
    margin-left: 452px;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 235px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 210px;
    margin-left: 615px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 625px;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    margin-left: 490px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 21px;
    margin-left: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-icon-1 {
    margin-left: 243px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 403px;
    margin-left: 284px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 704px;
    margin-left: 210px;
  }

  .u-section-5 .u-image-1 {
    margin-right: auto;
    margin-left: 218px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 511px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 210px;
    margin-left: 656px;
  }

  .u-section-5 .u-image-2 {
    margin-right: 130px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 436px;
    margin-left: 389px;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 210px;
    margin-left: 656px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 405px;
  }

  .u-section-5 .u-image-4 {
    margin-left: 330px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 333px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 331px;
    margin-left: 356px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 614px;
    margin-left: 300px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 475px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 300px;
    margin-left: 476px;
  }

  .u-section-5 .u-image-2 {
    margin-right: 220px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 525px;
    margin-left: 300px;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 300px;
    margin-left: 476px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 300px;
    margin-left: 525px;
  }

  .u-section-5 .u-image-3 {
    margin-left: 25px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 476px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 225px;
  }

  .u-section-5 .u-image-4 {
    width: 540px;
    height: 129px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -114px;
    margin-left: 353px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1247px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 433px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 400px;
    margin-left: 435px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 514px;
    margin-left: 400px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 41px;
    margin-left: 400px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -74px;
    margin-right: 400px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 400px;
    margin-left: 276px;
  }

  .u-section-5 .u-image-2 {
    margin-right: 320px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 400px;
    margin-left: 425px;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 400px;
    margin-left: 276px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 400px;
    margin-left: 425px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 163px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-5 {
    margin-top: -71px;
    margin-left: 276px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 25px;
  }

  .u-section-5 .u-image-4 {
    width: 340px;
    height: 81px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -66px;
    margin-left: 153px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1209px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 3.75rem;
  text-transform: none;
  margin: 246px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 842px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1061px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1786px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 4354px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2843px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 903px;
}

.u-section-7 .u-text-1 {
  margin: 38px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 3.75rem;
  letter-spacing: 6px;
  font-weight: 700;
  width: 479px;
  margin: 0 auto;
}

.u-section-7 .u-list-1 {
  width: 868px;
  min-height: 579px;
  grid-template-columns: 100%;
  grid-gap: 30px 30px;
  margin: 30px auto 60px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 147px;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0 147px;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 147px;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0 147px;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 147px;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0 147px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 640px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 46px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 900;
  letter-spacing: 6px;
  margin: 0 167px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 31px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 55px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 6px auto 0 0;
}

.u-section-8 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 588px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-form-1 {
  height: 400px;
  margin: 0 -60px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  padding: 0;
}

.u-section-8 .u-group-1 {
  width: 511px;
  min-height: 115px;
  margin: 30px 0 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 168px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 67px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 485px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-group-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    font-weight: 700;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-group-1 {
    width: 522px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-group-1 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }
}